.container {
  position: relative;
  // background-color: #27282e;
  width: 80%;
  margin: 0rem auto 4rem;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  h2 {
    margin: 0.5rem auto 2rem;
    color: #a38350;

    span {
      font-weight: normal;
      color: #f1f1f1;
      font-size: 0.85rem;
    }
  }

  .card {
    background-color: #1f2024;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 6px 5px 27px -2px #000000;
    width: 80%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem auto;
  }

  .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;

    img {
      border-radius: 100%;
      max-width: 80px;
      height: 80px;
      border: 1px solid #a38350;
      margin-right: 1rem;
    }

    .info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      line-height: 1.7rem;

      h3 {
        margin: 0;
        color: #a38350;
      }

      span {
        font-weight: 700;
      }
    }
  }

  .rating {
    margin: 0 0 1rem;
  }

  .body {
    text-align: left;
    line-height: 1rem;
    margin-bottom: 1rem;

    p {
      margin: 0;
    }
  }

  .bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    div {
      border-radius: 25px 25px 25px 25px;
      border: 1px solid #a38350;

      span {
        margin-right: 0.5rem;
      }
    }

    .anonymous {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .date {
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      div {
        span {
          transition: ease-in-out 0.3s;
        }
      }
    }

    :hover {
      color: #f1f1f1;
    }
  }
}
