.outerContainer {
  color: #2b2b33;
  width: 80%;
  position: relative;
  margin: 0rem auto 4rem;
}
.container {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0.5rem 2rem;
  border: 2px solid #c7b74e;
  border-radius: 40px 40px 0px 0px;
  img {
    width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
  }
}

.hidden {
  visibility: hidden;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0.5rem 2rem;
  border: 2px solid #c7b74e;
  border-bottom: none;
  border-radius: 40px 40px 0px 0px;
  img {
    width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
  }
}

.wrapper3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f1f1f1;
  padding: 0.5rem 2rem;
  border: 2px solid #c7b74e;
  border-top: none;
  border-radius: 0px 0px 40px 40px;
  color: rgb(80 76 76 / 90%);
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  span,
  div {
    cursor: pointer;
  }

  :hover {
    color: rgb(0, 117, 250);
  }
}

