.outerContainer {
  color: #f1f1f1;
  width: 80%;
  position: relative;
  margin: 0rem auto 4rem;
}
.container {
  line-height: 0rem;
  margin-bottom: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: #27282e;
  padding: 0.5rem 2rem;
  border-radius: 40px 40px 0px 0px;
  box-shadow: inset 6px 6px 12px #17171a, inset -6px -6px 12px #27292e;
  img {
    width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
  }
}

.hidden {
  visibility: hidden;
}

.wrapper2 {
  color: #a38350;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: #27282e;
  padding: 0.5rem 2rem;
  border: 2px solid #a38350;
  border-bottom: none;
  border-radius: 40px 40px 0px 0px;
  img {
    width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
  }
}

.wrapper3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // background-color: #27282e;
  padding: 0.5rem 2rem;
  border: 2px solid #a38350;
  border-top: none;
  border-radius: 0px 0px 40px 40px;
  color: #f1f1f1bd;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  span,
  div {
    cursor: pointer;
  }

  :hover {
    color: rgb(0, 117, 250);
  }
}
