.outerContainer {
  color: #f1f1f1;
  width: 80%;
  position: relative;
  margin: 0rem auto 4rem;

  h2 {
    color: #a38350;
    width: fit-content;
    margin: 1rem auto 4rem;
  }
  span {
    font-weight: normal;
    color: #f1f1f1;
    font-size: 0.85rem;
  }

  .productButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: #a38350;
    transition: ease-in-out 300ms;

    a {
      transition: ease-in-out 300ms;
      text-decoration: none;
      color: #a38350;
      gap: 0.3rem;
      &:hover {
        color: #f1f1f1;
      }
      i {
        margin-right: 0.3rem;
      }
    }

    span {
      font-size: 1rem;
      color: #a38350;
      transition: ease-in-out 300ms;
    }

    &:hover {
      color: #f1f1f1;
      span {
        color: #f1f1f1;
      }
    }
  }
}

.container {
  line-height: 0rem;
  margin-bottom: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 40px 40px 0px 0px;
  box-shadow: inset 6px 6px 12px #17171a, inset -6px -6px 12px #27292e;
  img {
    width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
  }

  .deleteBtn {
    cursor: pointer;
    &:hover {
      color: rgb(223, 47, 3);
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0;
}

.wrapper2 {
  color: #a38350;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border: 2px solid #a38350;
  border-bottom: none;
  border-radius: 40px 40px 0px 0px;

  .btn {
    :hover {
      color: #f1f1f1;
      span {
        color: #f1f1f1;
      }
    }
  }

  img {
    width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
  }

  .deleteBtn {
    cursor: pointer;
    &:hover {
      color: rgb(223, 47, 3);
    }
  }

  span {
    color: #a38350;
  }
}

.wrapper3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border: 2px solid #a38350;
  border-top: none;
  border-radius: 0px 0px 40px 40px;
  color: #f1f1f1bd;

  .edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    div:first-child {
      color: #f1f1f1;
      :hover {
        color: red;
      }
    }
    div:last-child {
      color: #f1f1f1;
      :hover {
        color: #2a5fc2;
      }
    }

    :hover {
      cursor: pointer;
    }
  }
}

.wrapper4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
  border: 2px solid #a38350;
  border-top: none;
  border-radius: 0px 0px 40px 40px;
  color: #f1f1f1bd;

  h5 {
    font-weight: normal;
    color: #f1f1f1;
  }
  h5 span {
    font-weight: 700;
    color: #a38350;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  span,
  div {
    cursor: pointer;
  }

  :hover {
    color: #a38350;
  }
}
