@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

.custom-shape-divider-bottom-1631025712 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2525;

    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631025712 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 137px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1631025712 .shape-fill {
    fill: #1F2024;
}

.heroContainer{
    margin-top: 4rem;
    width:100%;
    height:90vh;
    position: relative;
}

.transparent{
    position: absolute;
    z-index: 55;
    width: 100%;
    height: 90vh;
    background-color:#000000b2;
    border-bottom: #a38350 solid 2px;
}
.heroImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.textContainer{
    position: absolute;
    z-index: 88;
    width: 100%;
    top: 2rem;
}

.heroText{
    font-size: 2rem;
    color: #a38350;
    margin-top: -60px;
    text-align: center;
    margin-left: 14px;
    font-family: 'Josefin Slab', serif;

}
 .centerLogo{
    width: 23%;
    align-items: center;
    margin: auto;
    text-align: center;
 }

 .centerLogo p{
    margin-left: 14px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -5px;
 }