@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.mainContainer {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  z-index: 8000;
  flex-wrap: wrap;
  flex-direction: row;
}

.image{
  width: 40%;
  height: 70%;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 1rem;
  border-radius: 60% 40% 70% 30% / 32% 74% 26% 68% ;
  background: #1f2024;
  border: solid #a38350 1px;
  transition: 650ms;
  
}

.imageInside{
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top:0.5rem;
  border-radius: 60% 40% 70% 30% / 32% 74% 26% 68% ;
  background: #1f2024;
  box-shadow:  5px 5px 4px #17181b,
  -5px -5px 4px #27282d;
  animation: pulse 2s infinite;
}
.imageInside img{
  width: 100%;
  height: 100%;
  border-radius: 60% 40% 70% 30% / 32% 74% 26% 68% ;

}
.text{
  width: 40%;
  height: 50%;
}

.text h2 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #a38350;
  padding: 0.5rem;
  font-size: 3rem;
}

.text p{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 1rem;
  margin: 5rem;
}

@keyframes pulse{
  0%{
    width: 95%;
    height: 95%;
  }
  50%{
    width: 93%;
    height: 93%;;

  }
  100%{
    width: 95%;
    height: 95%;
  }
 
}