@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.rateContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap:wrap;
}

.topRatedH {
  margin-top: 50px;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Ma Shan Zheng", cursive;
  font-size: 3rem;
  color: #a38350;
}


.wrapper,
.wrapper .imgArea,
.socialIcons a,
.buttons button{
  background: #1f2024;
  box-shadow: inset -3px -3px 7px #1b1c1f,
              inset 3px 3px 5px #232429;
}
.wrapper{
  border: solid #a38350 0.1em;
  width: 275px;
  margin-top: 1rem;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.wrapper .icon{
  font-size: 17px;
  color: #a38350;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}
.wrapper .icon i{
  position: relative;
  z-index: 9;
}
.wrapper .icon.arrow{
  left: 15px;
}
.wrapper .icon.dots{
  right: 15px;
}
.wrapper .imgArea{
  height: 150px;
  width: 150px;
  border-radius: 48% 52% 10% 90% / 50% 60% 40% 50% ;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgArea .innerArea{
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 48% 52% 10% 90% / 50% 60% 40% 50% ;
}
.innerArea img{
  height: 100%;
  width: 100%;
  border-radius: 48% 52% 10% 90% / 50% 60% 40% 50% ;
  object-fit: cover;
}
.wrapper .name{
  font-size: 18px;
  font-weight: 500;
  color: #f1f1f1;
  margin: 10px 0 5px 0;
}
.wrapper .about{
  color: #f1f1f1;
  font-weight: 400;
  font-size: 16px;
}
.wrapper .socialIcons{
  margin: 15px 0 25px 0;
}
.socialIcons a{
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}
.socialIcons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #1f2024;
  box-shadow: inset 6px 6px 12px #16171a,
  inset -6px -6px 12px #28292e;
}
.buttons button:hover:before{
  z-index: -1;
  border-radius: 5px;
}
.socialIcons a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.socialIcons a.fb i{
  color: #4267B2;
}
.socialIcons a.twitter i{
  color: #1DA1F2;
}
.socialIcons a.insta i{
  color: #E1306C;
}
.socialIcons a.yt i{
  color: #ff0000;
}
.wrapper .buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons button{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #f1f1f1;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}
.buttons button:first-child{
  margin-right: 10px;
}
.buttons button:last-child{
  margin-left: 10px;
}
.wrapper .social-share{
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}
.social-share .row{
  color: #f1f1f1;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
.social-share .row::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #1f2024;
  margin-left: -25px;
}
.row:first-child::before{
  background: none;
}
.social-share .row i.icon-2{
  position: absolute;
  left: 0;
  top: 50%;
  color: #f1f1f1;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment{
  opacity: 1;
  pointer-events: auto;
}

/*------------ finsh cards------------------*/