.clientclearfix:before,
.clientclearfix:after {
  display: table;
  content: '';
}
.clientclearfix:after {
  clear: both;
}

.clientbarber-body {
  background: #76777c;
  color: #f1f1f1;
  font-weight: normal;
  font-size: 1em;
  font-family: 'Roboto', Arial, sans-serif;
}

/* input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
} */
/* ::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
} */

/* ::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
} */

.clientgrid .clientcol2 {
  width: 50%;
  padding: 0 10px 0 0;
}
.clientgrid .clientcol2.first {
  float: left;
}
.clientgrid .clientcol2.last {
  float: right;
}

.clientgrid .clientcol3 {
  width: 32%;
  float: left;
  margin-right: 11px;
}
.clientgrid .clientcol3.first {
  margin-left: 0;
  float: left;
}
.clientgrid .clientcol3.last {
  margin-right: 0;
  float: right;
}

/* profile page */
.clientcontainer {
  padding: 60px 50px 70px;
}

.clientinnerwrap {
  width: 1200px;
  margin: 0 auto;
}

.clientsection1 {
  background: #2b2b33;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 0px 13px #1f2024;
}
.clientsection1 div .clientrow:first-child {
  padding: 25px;
}

.clientsection1 .clientcol2.first img {
  border-radius: 50%;
  margin: 0 20px;
  width: 120px;
  border: 2px solid #c7b74e;
  padding: 2px;
  float: left;
}
.clientsection1 .clientcol2.first {
  line-height: 25px;
  position: relative;
  border-right: 1px solid #a2a2a2;
}
.clientsection1 .clientcol2.first h1 {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
  text-transform: capitalize;
}
.clientsection1 .clientcol2.first p {
  font-size: 14px;
}
.clientsection1 .clientcol2.first span {
  position: absolute;
  right: 15px;
  top: 16px;
  background: #c7b74e;
  padding: 5px 11px;
  font-size: 12px;
  line-height: 1;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.clientsection1 .clientcol2.last {
  padding: 8px 0;
}
.clientsection1 .clientcol2.last .clientcol3 span {
  color: #a2a2a2;
  font-size: 14px;
}
.clientsection1 .clientcol2.last .clientcol3 h1 {
  color: #c7b74e;
}

.clientsection1 .clientcol2.last .clientcol3 {
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #ccc;
}
.clientsection1 .clientcol2.last .clientcol3.last {
  border-right: 0;
}

.clientrow2tab li {
  list-style: none;
  float: left;
  width: 25%;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: #1f2024;
  color: #f1f1f1;
  border-bottom: 2px solid #1f2024;
}
.clientrow2tab li.pick {
  border-bottom: 2px solid #c7b74e;
  border-radius: 0 0 2px 2px;
  color: #c7b74e;
}

.clientrow2tab li i {
  margin-right: 3px;
  font-size: 14px;
}

.clientsmalltri {
  border-right: 40px solid #c7b74e;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-top: 10px solid #c7b74e;
  border-bottom: 20px solid transparent;
  padding: 0px;
  top: 0;
  right: 0;
  position: absolute;
}

.clientsmalltri .clientstar {
  position: absolute;
  top: -10px;
  right: -38px;
  color: #fff;
  border: 0px;
  font-size: 12px;
}

section.clientsection2 {
  margin: 50px 0;
}

.clientsection2 .clientcol3 {
  width: 30%;
  margin-right: 60px;
  background: #fff;
  border-radius: 2px;
}

.clientsection2 .postcont img {
  width: 100%;
}
.clientsection2 .profileinfo {
  text-align: center;
  padding: 0 10px 30px;
  color: #555;
  font-size: 14px;
  line-height: 25px;
}
.clientsection2 .profileinfo img {
  border-radius: 50%;
  width: 80px;
  padding: 2px;
  border: 3px solid #6aafea;
  margin-top: -48px;
  margin-bottom: 18px;
}
.clientsection2 .clientcol3.center .profileinfo img {
  border: 3px solid #fb4c22;
}
.clientsection2 .profileinfo p {
  text-align: justify;
}
.clientsection2 .profileinfo span {
  margin-top: 15px;
  display: block;
  text-align: left;
  color: #6aafea;
  cursor: pointer;
}
.clientsection2 .profileinfo span i {
  margin-left: 10px;
}

@media only screen and (max-width: 1300px) {
  .clientinnerwrap {
    width: 90%;
  }
  .clientsection2 .clientcol3 {
    margin-right: 5%;
  }
  .clientsection1 .clientgrid .clientcol3 {
    margin-right: 2%;
  }
  .clientsection1 .clientcol2.last .clientcol3.last {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1060px) {
  .clientsection1 .clientcol2 {
    width: 100%;
    border-right: 0 !important;
    padding: 0;
  }
}

@media only screen and (max-width: 660px) {
  .clientsection2 .clientcol3 {
    width: 100%;
    float: none !important;
    margin-bottom: 10px;
  }
  .clientrow2tab li {
    width: 50%;
    text-align: left;
  }
  .clientsection1 .clientcol2.first {
    text-align: center;
  }
  .clientsection1 .clientcol2.first img {
    display: inline-block;
    float: none;
  }
  .clientsection1 .clientcol2.first span {
    position: relative;
    right: 0;
  }
  .clientsection1 .clientcol2.last {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 450px) {
  .clientcontainer {
    padding: 60px 5px 70px;
  }
  .clientrow2tab li {
    width: 100%;
    text-align: left;
  }
  .clientsection1 .clientcol2.last .clientcol3 span {
    font-size: 10px;
  }
  .clientsection1 .clientcol2.last .clientcol3 h1 {
    font-size: 18px;
  }
}
