.container {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form {
    transition: all 0.5s;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
  }
  .finder {
    border: 1px solid #a38350;
    background-color: #1f2024;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 9px 9px 16px #17181b,
      -9px -9px 16px #27282d;
  }
  
  .finder__outer {
    display: flex;
    width: 500px;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -10px #17181b,
      inset -10px -10px 15px -10px #27282d;
  }
  
  .finder__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }
  
  .finder__form {
    flex: 1;
    height: calc(100% + 1rem);
  }
  
  .finder__input {
    height: calc(100% + 3rem);
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
  }
  
  