@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1000&display=swap');

.ahheader{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 200;
    background-color: #1f2024;
    justify-content: space-between;
    border-bottom: #a38350 solid 1px;
}

.ahlogo{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color:  #edf0f1;
    padding-left: 1rem;
}

.nav__link{
    
    list-style: none;
    padding: 0px 0px 0px 0px;

}

.aanav__link li{
    display: inline-block;
    padding: 0px 20px;
    padding-top: 12px;
    cursor: pointer;

}

.aanav__link li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color:  #edf0f1;

}

.aanav__link li a:hover {
    color: #a38350;
}

.AhlogOut{
    padding: 9px 25px;
    margin: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
}

.AhlogOut:hover{
    background-color: #a38350;
    padding: 9px 25px;
}